/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral da página */
body {
    background-color: #000000;
    color: #fff;
    margin: 50px;
}

/* Ajuste nas imagens */
img {
    width: 500px;
    height: 450px;
    border-radius: 50%;
}

/* Ajuste nos títulos */
h1 {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    text-align: center;
    font-size: 100px;
}

p {
    font-size: 50px;
}
label {
    color: orangered;
    font-size: 45px;
}
/* Links */
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* Centralização do conteúdo */
section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

/* Ajustes para a seção de introdução */
.beggin p {
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Transições de visibilidade */
.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s ease;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s ease;
}


/* Estilo da seção de resultados */
.resultados {
    gap: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que os cards se adaptem quando necessário */
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 30px 20px;
    align-items: center;
    text-align: center;
    box-shadow: 15px 10px 30px white;
    width: 450px;
    height: 600px;
    margin-bottom: 20px;
}

.card h2 {
    color: black;
    font-size: 35pt;
}

.card p {
    color: black;
    font-size: 30px;
}

.avatar {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    margin: 5px;
}

/* Estilo para os planos */
.planos {
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Permite que os planos se adaptem quando necessário */
}

.card-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 800px;
    background-color: white;
    box-shadow: 10px 10px 20px grey;
    padding: 30px 20px;
}

.card-price h1 {
    color: orangered;
    font-size: 100px;
    margin-bottom: 20px;
}

.card-price p {
    font-size: 40px;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    margin-top: auto;
    font-size: 50px;
    text-align: center;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Responsividade (aplicada apenas em telas menores) */
@media (max-width: 1650px){
    .beggin {
        img {
        width: 700px;
        height: 650px;
       }
       p {
        font-size: 45px;
       }
    }
     .planos {
        flex-direction: column; /* Organizando os planos em coluna */
        gap: 20px;
    }

    .card-price {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .btn {
        width: 80%;
        font-size: 30px;
        height: 50px;
    }

    .resultados {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Grid adaptável */
    }

    .card {
        width: 100%;
        height: auto;
        padding: 20px;
        h2 {
            color: orangered;
        }
    }

}

@media (max-width:1465px) {
    .resultados {
        display: flex;
        width: 25%;
        height: auto;
    }

    
    .card {
        width: 100%;
        height: auto;
        padding: 20px;
        h2 {
            color: orangered;
        }
    }

    .avatar {
        width: 200px; /* Reduzindo o tamanho das imagens */
        height: 180px;
    }
}

@media (max-width: 1024px) {
    /* Para tablets ou telas menores */
    body {
        margin: 20px;
    }

    h1 {
        font-size: 60px; /* Ajustando o tamanho do título */
    }

    h2 {
        font-size: 80px; /* Ajustando o tamanho dos subtítulos */
    }

    p {
        font-size: 40px; /* Ajustando o tamanho do texto */
    }

    img {
        width: 100%;
        height: auto;
    }
    .beggin {
        p {
            font-size: 25px;
        }
        label {
            font-size: 30px;
        }
    }

    .planos {
        flex-direction: column; /* Organizando os planos em coluna */
        gap: 20px;
    }

    .card-price {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .btn {
        width: 80%;
        font-size: 30px;
        height: 50px;
    }

    .resultados {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Grid adaptável */
    }

    .card {
        width: 100%;
        height: auto;
        padding: 20px;
        h2 {
            color: orangered;
        }
    }
}
@media (max-width: 1024px) {
    .beggin {
        img{ 
            width: 250px;
            height: 220px;
            border-radius: 50%;
            margin-top: 70px;
        }
    }
    h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 40px;
    }

    h2 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    p {
        font-size: 25px;
    }

    .planos .card-price {
        width: 90%; /* Ajustando largura para planos */
        height: auto;
    }

    .card-price h1 {
        font-size: 45px; /* Tamanho do título nos planos */
    }

    .card-price p {
        font-size: 25px; /* Tamanho da descrição dos planos */
    }

    .btn {
        width: 140px;
        font-size: 25px;
        height: 50px;
    }
    .btn:hover {
        cursor: pointer;
        color: orangered;
        background-color: white;
        border: 1px solid orangered;
        transform: translateY(-10px);
        transition: all 1s;
    }

    .resultados {
        display: grid;
        grid-template-columns: 1fr; /* Colocando os depoimentos em uma coluna */
        width: 25%;
        height: auto;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 20px;

        p {
            font-size: 25px;
            margin-top: -70px;
        }
        h2 {
            font-size: 35px;
        }
    }

    .avatar {
        width: 200px; /* Reduzindo o tamanho das imagens */
        height: 180px;
    }

}

@media (max-width: 480px) {
    /* Para telas de smartphones */
    .beggin {
        img{ 
            width: 250px;
            height: 220px;
            border-radius: 50%;
            margin-top: 70px;
        }
    }
    h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 40px;
    }

    h2 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    p {
        font-size: 25px;
    }

    .planos .card-price {
        width: 90%; /* Ajustando largura para planos */
        height: auto;
    }

    .card-price h1 {
        font-size: 45px; /* Tamanho do título nos planos */
    }

    .card-price p {
        font-size: 25px; /* Tamanho da descrição dos planos */
    }

    .btn {
        width: 140px;
        font-size: 25px;
        height: 50px;
    }
    .btn:hover {
        cursor: pointer;
        color: orangered;
        background-color: white;
        border: 1px solid orangered;
        transform: translateY(-10px);
        transition: all 1s;
    }

    .resultados {
        display: grid;
        grid-template-columns: 1fr; /* Colocando os depoimentos em uma coluna */
        width: 25%;
        height: auto;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 20px;

        p {
            font-size: 25px;
            margin-top: -70px;
        }
        h2 {
            font-size: 35px;
        }
    }

    .avatar {
        width: 200px; /* Reduzindo o tamanho das imagens */
        height: 180px;
    }

 
}
@media (max-width: 300px) {
    .beggin {
        display: flex;
        flex-direction: column;
    }
    .hidden {
        h2 {
            font-size: 40px;
        }
    }
}
